<footer class="site-footer">

  <div class="wrapper">

    <!--h2 class="footer-heading small-site-title">{{ site.title }}</h2-->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list footer-content">
          <li>Built by ❤<a href="http://github.com/kilkio">chen hao</a></li>
        </ul>
      </div>
      

      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li style=" text-align:center">
            {% include icon-github.html username=site.github_username %}

          </li>
          {% endif %}
        </ul>
      </div>
    
    <h4 style=" text-align:right">{% include icon-twitter.html username=site.twitter_username %}</h4>
    <!--center><p>Made with <i class="fa fa-heart"></i> on <a href="http://chenhao.shop"><span>Chen hao</a></span></p></center-->
  </div>

</footer>
